In [1]:
import sys
import os
sys.path.append(os.path.abspath(".."))
from src.preprocess import load_data, summary

In [2]:
data = load_data("../data/uci-secom.csv")
data.head()

,Time,0,1,2,3,4,5,6,7,8,...,581,582,583,584,585,586,587,588,589,Pass/Fail
0,2008-07-19 11:55:00,3030.93,2564.00,2187.7333,1411.1265,1.3602,100.0,97.6133,0.1242,1.5005,...,NaN,0.5005,0.0118,0.0035,2.3630,NaN,NaN,NaN,NaN,-1
1,2008-07-19 12:32:00,3095.78,2465.14,2230.4222,1463.6606,0.8294,100.0,102.3433,0.1247,1.4966,...,208.2045,0.5019,0.0223,0.0055,4.4447,0.0096,0.0201,0.0060,208.2045,-1
2,2008-07-19 13:17:00,2932.61,2559.94,2186.4111,1698.0172,1.5102,100.0,95.4878,0.1241,1.4436,...,82.8602,0.4958,0.0157,0.0039,3.1745,0.0584,0.0484,0.0148,82.8602,1
3,2008-07-19 14:43:00,2988.72,2479.90,2199.0333,909.7926,1.3204,100.0,104.2367,0.1217,1.4882,...,73.8432,0.4990,0.0103,0.0025,2.0544,0.0202,0.0149,0.0044,73.8432,-1
4,2008-07-19 15:22:00,3032.24,2502.87,2233.3667,1326.5200,1.5334,100.0,100.3967,0.1235,1.5031,...,NaN,0.4800,0.4766,0.1045,99.3032,0.0202,0.0149,0.0044,73.8432,-1

In [3]:
display(summary(data).sort_values(by='Nulls', ascending=False))

Data shape: (1567, 592)
___________________________
Data Types:
Types
float64    590
int64        1
object       1
Name: count, dtype: int64
___________________________

       Types  Counts  Uniques  Nulls       Min        Max
293  float64     138      139   1429   82.3233    879.226
292  float64     138       93   1429    0.0041     0.0831
157  float64     138      129   1429    0.0118     0.2876
158  float64     138      139   1429  234.0996  2505.2998
358  float64     226       21   1341    0.0017     0.0047
..       ...     ...      ...    ...       ...        ...
393  float64    1567      953      0    0.0342     0.2994
392  float64    1567      109      0    0.0005     0.0229
120  float64    1567     1269      0    5.1259      7.522
87   float64    1567      249      0    0.7749     0.9935
86   float64    1567      472      0    2.2425     2.5555

[592 rows x 6 columns]